@{
    ViewData["Title"] = "Home Page";
}

@model List<Bowler>

<div class="card mx-center">

    <div>
        <a asp-controller="Home" asp-action="Team" asp-route-teamid="1" class="btn btn-primary">Marlins</a>
        <a asp-controller="Home" asp-action="Team" asp-route-teamid="2" class="btn btn-primary">Sharks</a>
        <a asp-controller="Home" asp-action="Team" asp-route-teamid="3" class="btn btn-primary">Terrapins</a>
        <a asp-controller="Home" asp-action="Team" asp-route-teamid="4" class="btn btn-primary">Barracudas</a>
        <a asp-controller="Home" asp-action="Team" asp-route-teamid="5" class="btn btn-primary">Dolphins</a>
        <a asp-controller="Home" asp-action="Team" asp-route-teamid="6" class="btn btn-primary">Orcas</a>
        <a asp-controller="Home" asp-action="Team" asp-route-teamid="7" class="btn btn-primary">Manatees</a>
        <a asp-controller="Home" asp-action="Team" asp-route-teamid="8" class="btn btn-primary">Swordfish</a>
        <a asp-controller="Home" asp-action="Team" asp-route-teamid="9" class="btn btn-primary">Huckleberrys</a>
        <a asp-controller="Home" asp-action="Team" asp-route-teamid="10" class="btn btn-primary">MintJuleps</a>
        <br />
        <br />
    </div>

    <table class="table table-bordered table-striped">

        <thead class="font-weight-bold">
            <tr>
                <td>BowlerID</td>
                <td>First Name</td>
                <td>Middle Initial</td>
                <td>Last Name</td>
                <td>Address</td>
                <td>City</td>
                <td>State</td>
                <td>Zipcode</td>
                <td>Phone</td>
                <td>TeamID</td>
            </tr>
        </thead>

        <tbody>

            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.BowlerID</td>
                    <td>@x.BowlerFirstName</td>
                    <td>@x.BowlerMiddleInit</td>
                    <td>@x.BowlerLastName</td>
                    <td>@x.BowlerAddress</td>
                    <td>@x.BowlerCity</td>
                    <td>@x.BowlerState</td>
                    <td>@x.BowlerZip</td>
                    <td>@x.BowlerPhoneNumber</td>
                    <td>@x.TeamID</td>

                    <td><a asp-controller="Home" asp-action="Edit" asp-route-applicationid="@x.BowlerID">Edit</a></td>
                    <td><a asp-controller="Home" asp-action="Delete" asp-route-applicationid="@x.BowlerID">Delete</a></td>
                </tr>
            }
        </tbody>

    </table>
</div>
