@{
    ViewData["Title"] = "Home Page";
}

@model List<Bowler>

<div class="card mx-center">
    <table class="table table-bordered table-striped">

        <thead class="font-weight-bold">
            <tr>
                <td>BowlerID</td>
                <td>First Name</td>
                <td>Middle Initial</td>
                <td>Last Name</td>
                <td>Address</td>
                <td>City</td>
                <td>State</td>
                <td>Zipcode</td>
                <td>Phone</td>
                <td>TeamID</td>
            </tr>
        </thead>

        <tbody>

            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.BowlerID</td>
                    <td>@x.BowlerFirstName</td>
                    <td>@x.BowlerMiddleInit</td>
                    <td>@x.BowlerLastName</td>
                    <td>@x.BowlerAddress</td>
                    <td>@x.BowlerCity</td>
                    <td>@x.BowlerState</td>
                    <td>@x.BowlerZip</td>
                    <td>@x.BowlerPhoneNumber</td>
                    <td>@x.TeamID</td>

                    <td><a asp-controller="Home" asp-action="Edit" asp-route-applicationid="@x.BowlerID">Edit</a></td>
                    <td><a asp-controller="Home" asp-action="Delete" asp-route-applicationid="@x.BowlerID">Delete</a></td>
                </tr>
            }
        </tbody>

    </table>
</div>
