@{
    ViewData["Title"] = "Home Page";
}

@model List<Bowler>

<div class="card mx-center">


    <table class="table table-bordered table-striped">

        <thead class="font-weight-bold">
            <tr>
                <td>BowlerID</td>
                <td>First Name</td>
                <td>Middle Initial</td>
                <td>Last Name</td>
                <td>Address</td>
                <td>City</td>
                <td>State</td>
                <td>Zipcode</td>
                <td>Phone</td>
                <th scope="col">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Filter Teams
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (Team t in ViewBag.Teams)
                            {
                                <a class="dropdown-item" asp-controller="Home" asp-action="Filtered" asp-route-id="@t.TeamID">@t.TeamName</a>
                            }
                        </div>
                    </div>
                </th>
            </tr>
        </thead>

        <tbody>

            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.BowlerID</td>
                    <td>@x.BowlerFirstName</td>
                    <td>@x.BowlerMiddleInit</td>
                    <td>@x.BowlerLastName</td>
                    <td>@x.BowlerAddress</td>
                    <td>@x.BowlerCity</td>
                    <td>@x.BowlerState</td>
                    <td>@x.BowlerZip</td>
                    <td>@x.BowlerPhoneNumber</td>
                    <td>@x.TeamID</td>

                    <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@x.BowlerID">Edit</a></td>
                    <td>
                        <a asp-controller="Home" asp-action="Delete" asp-route-id="@x.BowlerID"
                           onclick="return confirm('WARNING! This action cannot be undone');">Delete</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
